<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secrets!</h1>

    <!-- Display each secret in a list -->
    <ul class="list-group secret-list">
      <% if (secrets.length > 0) { %> <% secrets.forEach(secret => { %>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span><%= secret.secret %></span>
        <!-- Delete button for each secret -->
        <form action="/secrets/delete" method="POST" style="display: inline">
          <input type="hidden" name="user_id" value="<%= user_id %>" />
          <input
            type="hidden"
            name="secretId"
            value="<%= secret.secret_id %>"
          />
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </li>
      <% }) %> <% } else { %>
      <li class="list-group-item">
        You haven’t shared any secrets yet. Come on, we won’t judge you (much)
        😉
      </li>
      <% } %>
    </ul>

    <hr />

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a Secret</a
    >
  </div>
</div>

<%- include('partials/footer') %> ss
